body {
    background-color: palevioletred;
}

.texto-principal {
    margin-right: 20%; 
    padding: 50px;
}

h1, h2 {
    color: #D3D3D3;
    text-align: center;
}

p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    float: left;
    position: absolute;
}


 nav li {
    display: inline;
 }

 .lista {
    padding: 50px;

 }