body {
    background-color: #000000;
}

.texto-principal {
    margin-right: 20%; 
    padding: 50px;
    text-align: justify;

}

h1, h2 {
    color: #D3D3D3;
    text-align: justify;
}

p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    float: left;
    position: absolute;
}

.itens {
    color: cyan;
}

 nav li {
    display: inline;
 }

 .lista {
    padding: 50px;
    text-align: justify;

 }